body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#number {
    width: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#guess {
    margin-top: 20px;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}